/* General rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 900px;
    background: linear-gradient(145deg, rgb(40, 41, 40) 35%, rgba(102, 103, 105, 0.753) 100%);
    color: #fff;
}


/* header */

header {
    width: 100%;
    height: 45px;
    line-height: 45px;
}

.header-ac {
    width: 87%;
    margin: 0 auto;
}

.link .bd_right {
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.link a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
    color: #fff;
    font-family: 'Crimson Text', serif;
    transition: 3s;
}


/* fine-header */


/* Main */

main {
    margin-top: 20px;
    height: calc(100vh - 65px);
}


/* Main Container */

.container {
    width: 87%;
    margin: 0 auto;
}


/* Main left */

.left {
    float: left;
    width: 40%;
    height: 100%;
}

img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .4);
    margin-bottom: 10px;
}

.text {
    width: 70%;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
}


/* right */

.rigth {
    float: right;
    width: 60%;
    height: 100%;
}

.top {
    width: 100%;
    height: 40%;
    margin-top: 60px;
}

.card-info {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .4);
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    align-items: center;
    width: 100%;
}

.info-box li h3 {
    margin-top: 10px;
}

.info-box li h1 {
    font-family: 'Cormorant Garamond', serif;
}

hr {
    margin-top: 6px;
}

.text {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .4);
    margin-top: 50px;
}


/* right-down */

.down {
    width: 100%;
    height: 50%;
    margin-top: 60px;
}

.card-social {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .4);
}


/* media query */

@media all and (min-width: 856px) and (max-width: 1100px) {
    h3 {
        font-size: 16px;
    }
}

@media all and (min-width: 650px) and (max-width: 855px) {
    body {
        min-width: 0;
    }
    main {
        height: 100%;
    }
    .header-ac {
        width: 80%;
        margin: 0 auto;
    }
    .container {
        width: 80%;
        margin: 0 auto;
    }
    .left {
        float: none;
        height: 100%;
        width: 100%;
    }
    .rigth {
        display: flex;
        flex-direction: column;
        float: none;
        width: 80%;
        margin: 0 auto;
    }
    .wrap {
        display: flex;
        justify-content: space-evenly;
    }
    img {
        border-radius: 50%;
        width: 300px;
        height: 340px;
        transition: 1s;
    }
    .card-social-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-info {
        width: 100%;
    }
    .card-social {
        margin-top: 20px;
        width: 100%;
    }
    .top {
        margin: 0;
    }
    .down {
        margin: 0;
    }
    h3 {
        font-size: 16px;
    }
}

@media all and (min-width:377px) and (max-width: 649px) {
    body {
        min-width: 0;
    }
    main {
        height: 100%;
    }
    .left {
        float: none;
        width: 100%;
    }
    .rigth {
        float: none;
        width: 100%;
    }
    .img {
        display: flex;
        justify-content: center;
    }
    img {
        height: 400px;
        width: 250px;
        transition: 1s;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .text {
        width: 100%;
    }
    .card-social {
        width: 100%;
    }
    h3 {
        font-size: 15px;
    }
}

@media all and (max-width: 377px) {
    body {
        min-width: 353px;
    }
    .top {
        margin: 10px;
    }
    .left {
        float: none;
        width: 100%;
    }
    .rigth {
        float: none;
        width: 100%;
    }
    .img {
        display: flex;
        justify-content: center;
    }
    img {
        width: 150px;
        height: 200px;
        transition: 1s;
    }
    .text {
        width: 100%;
    }
    .card-social {
        width: 100%;
    }
    h3 {
        font-size: 13px;
    }
}